<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="proclipsing.core.wizardCategory"
            class="proclipsing.core.createproject.NewProcessingProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="icons/processing_icon.jpg"
            id="proclipsing.core.createproject.NewProcessingProjectWizard"
            name="Processing Project"
            project="true">
      </wizard>
      <category
            id="proclipsing.core.wizardCategory"
            name="Processing">
      </category>
   </extension>
   <extension
         id="proclipsing.core.ProcessingProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="proclipsing.core.ProcessingProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="proclipsing.core.ProcessingProjectDecorator"
            icon="icons/project_decorator.png"
            id="proclipsing.core.ProcessingProjectDecorator"
            label="Processing Project Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="proclipsing.core.preferences.ProclipsingPreferencePage"
            id="proclipsing.core.preferences.ProclipsingPreferencePage"
            name="Proclipsing">
      </page>
   </extension>
    
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="proclipsing.core.actions.SetProclipsingPrefsAction"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <action
               class="proclipsing.core.actions.SetProclipsingPrefsAction"
               id="proclipsing.core.SetProclipsingPrefsAction"
               icon="icons/processing_icon.jpg"
               label="Proclipsing Project Prefs"
               menubarPath="proclipsing.core">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="proclipsing.core.ProcessingProjectNature"/>
         </visibility>
      </objectContribution>
   </extension>


</plugin>
