<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   
   <extension point="org.eclipse.ui.exportWizards">
      <wizard
            class="dch.eclipse.p5Export.P5ExportWizard"
            icon="icons/proc16.png"
            id="P5Exporter.wizard1"
            name="%wizard.name.0">
         <description> 
            %wizard.description.0
         </description>
      </wizard>
   </extension>
   
   <extension
         id="P5Exporter.toolBarButton"
         name="P5P5Exporter Action"
         point="org.eclipse.ui.actionSets">
     <actionSet id="EclipseP5Exporter.actionSet"
        label="Processing-Export"
        visible="true">
        <action id="EclipseP5Exporter.wizard.RunWizardAction"
          label="Processing Export"
          menubarPath="project/build.ext"
          toolbarPath="Normal/additions"
          icon="icons/proc16.png"
          tooltip="Processing Export"
          class="dch.eclipse.p5Export.P5ExportAction">
        </action>
      </actionSet>
   </extension>     

</plugin>
